/* Área geral da batalha */
.battle-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Lado do inimigo (parte superior) */
.enemy-side {
  position: absolute;
  top: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

/* Lado do jogador (parte inferior) */
.player-side {
  position: absolute;
  bottom: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* Imagens dos Digimons */
.enemy-img {
  width: 200px;
  transform: scaleX(-1); /* Inimigo olha para o jogador */
}

.player-img {
  width: 200px;
}

/* Barra de HP */
.hp-bar {
  position: relative;
  width: 150px;
  height: 20px;
  margin-top: 8px;
  padding: 4px 8px;
  background-color: #222;
  border: 2px solid #000;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 6px;
  color: #fff;
  font-size: 14px;
}
.hp-bar-fill {
  height: 100%;
  transition: width 0.4s ease, background-color 0.4s ease;
}
.hp-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  pointer-events: none;
}
/* Menu de ações */
.battle-menu {
  position: absolute;
  bottom: 0;
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  
  
}

.battle-menu button {
  background: linear-gradient(180deg, #f0f0f0 0%, #dcdcdc 100%);
  
  border-radius: 8px;
  padding: 35px 0;
  width: 140px;
  font-size: 16px;
  font-weight: bold;
  color: #111;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: 0 3px 0 #888, inset 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.battle-menu button:hover {
  background: linear-gradient(180deg, #fff 0%, #e6e6e6 100%);
  transform: translateY(-2px);
  box-shadow: 0 4px 0 #666, inset 0 1px 0 #fff;
}

.battle-menu button active{
  transform: translateY(2px);
  box-shadow: 0 1px 0 #666 inset;
  background: linear-gradient(180deg, #e0e0e0 0%, #c8c8c8 100%);
}
.battle-menu-attacks{
  display: flex;
  gap: 15px;
}

.battle-menu-actions{
  display: flex;
  gap: 15px;  
}
.attack-description{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: #000 solid 10px;
  bottom: 10px;
  
}
.fire{
  color: rgb(237, 167, 15);
  border-color: rgb(237, 167, 15);
  border-width: 5px;
}
.ice{
  color: rgb(110, 223, 246);
  border-color: rgb(110, 223, 246);
  border-width: 5px;
}
.eletric{
  color: rgb(234, 255, 12);
  border-color: rgb(234, 255, 12);
  border-width: 5px;
}
.wind{
  color: rgb(42, 207, 91);
  border-color: rgb(42, 207, 91);
  border-width: 5px;
}
.normal{
  color: rgb(176, 191, 191);
  border-color: rgb(176, 191, 191);
  border-width: 5px;
}