/*.menu-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #1d1f27, #252a35);
  color: white;
}*/

.game-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.start-button {
  background-color: #fdd835;
  color: #222;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.start-button:hover {
  background-color: #ffeb3b;
  transform: scale(1.05);
}
