.game-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101820;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Quando a tela for de batalha, sobrescrevemos o layout base */
.game-layout.battle {
  align-items: stretch; /* deixa a BattleScreen ocupar toda a largura */
  justify-content: stretch;
  background-color: #2b3a67;
}
