.button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #45a049;
}
