/* Estilos globais do App */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  text-align: center;
  padding: 50px;
}
